ol,
ul {
    list-style: none;
}

a {text-decoration: none;
    }

header {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: end;
    padding: 10px;
    }

header nav ul {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2em;
}

header nav ul a { 
    color:greenyellow;
}

footer {
    padding: 2em;
    background-color: rgb(115, 255, 0);
    align-items: center;
    width: 300px;
    border-radius: 20% 30% 40% 50%;
}

img {
    border-radius: 40% 20% 40% 20%;
    background-color: aqua;
    width: 300px;
    height: 300px;

}

.Seccion-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*background-color: blue;*/
}

body {
    background-color: bisque;
}

.acerca-imagen h3 {
    display: flex;
    align-items: start;
    justify-content: space-around;
}




/* ---------CSS Para añadir las funciones del formulario--------------*/

.form-header {
    text-align: center;
background-color:bisque/* #f6f7f8*/;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: bisque/* #f6f7f8*/;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color:greenyellow/* #bdbdbd*/;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"],
    .form-row input[type="email"]  {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color:greenyellow/* #bdbdbd*/;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }

    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px;
      } 

      .alertas {
        text-align:start;
        color: red;

      }
        
